#root {
  width: 100vw;  /* ขยายเต็มหน้าจอ */
  height: 100vh; /* ทำให้เนื้อหาเต็มจอ */
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* จัดกึ่งกลางหน้าจอ */
  
}

.logo {
  height: 25em;
  width: 390px;
  position: absolute;
  top: 50%; /* กำหนดตำแหน่งจากบน */
  left: 50%; /* กำหนดตำแหน่งจากซ้าย */
  transform: translate(-50%, -50%); /* ตั้งกลางทั้งแนวนอนและแนวตั้ง */
  padding: 5em;
  z-index: 9999; /* ให้อยู่บนสุด */
  will-change: filter;
  transition: filter 300ms;
}


.logo-container{
  left: 50%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #7c0606);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #310a74f7);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1 {
  height: 0.1cm;
}


.card {
  padding: 5em;
  text-transform: lowercase;

}

.read-the-docs {
  position: absolute;
  top: 5%; /* วางบนสุด */
  left: 50%;
  transform: translateX(-50%); /* ตั้งกึ่งกลางแนวนอน */
  font-family: "Athiti", sans-serif; /* เปลี่ยนฟอนต์ */
  font-size: 26px; /* ปรับขนาดฟอนต์ */
  font-weight: bold; /* ทำให้ตัวหนา */
  color: #a40e0e;
  text-align: center; /* จัดกลางแนวนอน */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* เอฟเฟกต์เงาข้อความ */
  
}


/* ปรับพื้นหลัง */
.background {
  position: fixed; /* ให้พื้นหลังคงที่ */
  top: 0;
  left: 0;
  width: 100vw; /* ปรับขนาดให้เต็มจอแนวนอน */
  height: 100vh; /* ปรับขนาดให้เต็มจอแนวตั้ง */
  background: url('./assets/wal/วอลเปเปอร์.png') no-repeat center center;
  background-size: cover; /* ปรับให้รูปเต็มจอและตัดส่วนเกินออก */
  z-index: -9999; /* ✅ ตั้งค่าให้อยู่หลังสุด */
}


/* ปุ่ม START */
.start-button {
  position: absolute;
  z-index: 1000; /* ให้อยู่ข้างหน้าสุด */
  width: 200px;
  height: 59px;
  left: 50%;
  top: calc(80% + 20px); /* อยู่ใต้โลโก้ 20px */
  transform: translateX(-50%); /* จัดให้กึ่งกลางพอดี */
  background: #a93030;
  border-radius: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 58px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Athiti", serif;
}

.start-button:hover {
  background: #8b2525;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* The element to apply the animation to */
.div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
.athiti-medium {
  font-family: "Athiti", serif;
  font-weight: 500;
  font-style: normal;
}

